





#hamburger-nav {
    display: none;
}


@media screen and (max-width: 900px) {
    
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    
    .section_text, .about-me, .contact-me {
        padding: 15px;
        text-align: center;
    }


    
    .menu-links ul {
        text-align: center;
    }
    .menu-links ul li {
        padding: 5px;
    }

    .project-box {
        width: calc(100% - 20px);
    }

    .projects-container {
        width: 100%;
        margin-right: 200px;
    }

    .about-me {
        width: 90%; 
        margin-bottom: 30px; 
        padding-bottom: 30px;
        padding: 10px;
        width: 90%;
    }
}


@media screen and (min-width: 868px) {
    .project-box {
        width: calc(50% - 20px);
    }
    
}